#!/usr/bin/env bash
set -euo pipefail

export VAULT_ADDR="http://127.0.0.1:8200"

for i in {1..30}; do
  if vault status >/dev/null 2>&1; then
    break
  fi

  sleep 2
done

if vault status | grep -q "Sealed.*false"; then
  exit 0
fi

vault operator unseal "$(cat /etc/vault.d/unseal.key)"